/__init__.pyc
/abstracts.pyc
/authentication.pyc
/catch23.pyc
/charsets.pyc
/connection.pyc
/constants.pyc
/conversion.pyc
/cursor.pyc
/custom_types.pyc
/dbapi.pyc
/errorcode.pyc
/errors.pyc
/network.pyc
/optionfiles.pyc
/pooling.pyc
/protocol.pyc
/utils.pyc
/version.pyc
